aside{
    background-color: aqua;
    height: 100vh;
    width: 11rem;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-items: center;
    align-items: end;
}

.aside-div{
    background-color:burlywood;
    height: 3rem;
    width: 8rem;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-top: 2px solid black;
    
}