.food{
    margin-top: 1rem;
    color: black;
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1.5rem;
    
}

.foodDisplay{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}